{% extends "base.html" %}
{% block body %}

<style>
    a {
    font-size: 21px;
    color: white;
    text-decoration: none;
}

a:hover {

    color: rgb(10, 151, 190);

}

.cou {
    font-size: 25px;
    margin-left: 105px;
}

.show {
    border: 1px solid rgb(11, 255, 255);
    padding: 5px;
    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;
    display:inline-block;
    margin-top: 15px;
}

</style>
 <!-- main box -->

 <main>
    <section class="firstsection">
        <div class="leftsection">
            <div style="margin-top: 50px; margin-left: 20px;"><span class="color"><b
                        style="font-size: 60px; justify-content: center;">AbhisheK</b></span></div>
            <div style="margin-bottom: 1px; margin-left: 20px;"><b
                    style="font-size: 33px; justify-content: center;">Coding Fresher - Internship</b></div>
            <div style="margin-right: 10px; margin-left: 20px;"><b
                    style="font-size: 33px; justify-content: center;"><img src="static\image\png\email.png" alt="" width="30"
                        style="margin-right: 40px;"><a
                        href="abhishektyagi2307@gmail.com">abhishektyagi2307gmail.com</a></b></div>
            <div style="margin-right: 10px; margin-left: 20px;"><b
                    style="font-size: 33px; justify-content: center;"><img src="static\image\png\phone.png" alt="" width="35"
                        height="30" style="margin-right: 40px;"><i>123456789||9998884555</i></b></div>
            <div style="margin-right: 10px; margin-left: 20px;"><b
                    style="font-size: 33px; justify-content: center;"><img src="static\image\png\loc.png" alt="" width="35"
                        style="margin-right: 40px;"><a href="https://maps.app.goo.gl/Ku2h2sGKpcuihEex7">Haryana,
                        India</a></b></div>




            <div class="buttons">
                <a href="resume 2024.pdf" target="_blank"><button class="btn">Download Resume</button></a>
                <a href="https://github.com/Abhishek-tyagi23" target="_blank"><button class="btn">Visit
                        Github</button></a>
            </div>
        </div>
        <div style="padding-left:40px; margin-top:20px">
            <img src="static\image\about.avif" alt="" height="80%" width="80%" style="border-radius: 40px;">
        </div>
    </section>
    <hr>
    <section class="secondsection">
        <span style=" padding-top: 0px;">Joined Profile</span>
        <h1>Profile</h1>
        <div class="hob">
            <div class="img"><a href="https://www.linkedin.com/in/abhishek-tyagi-74b23b270" target="_blank"><img
                        src="static\image\png\linked.jpg" width="400" height="250px"></a></div>
            <div class="img"><a href="https://github.com/Abhishek-tyagi23" target="_blank"><img src="static\image\png\github.png"
                        width="400" height="250px"></a></div>
            <div class="img"><a href="https://profile.indeed.com/?hl=en_US&co=US&from=gnav-unknown--unknown"
                    target="_blank"><img src="static\image\png\indeed.png" width="400" height="250px"></a></div>


        </div>
        <ul class="text">
            <li class="li1"><a href="https://www.linkedin.com/in/abhishek-tyagi-74b23b270">Visit Linked </a></li>
            <li class="li2"><a href="https://github.com/Abhishek-tyagi23">Visit Github</a></li>
            <li class="li3"><a href="https://profile.indeed.com/?hl=en_US&co=US&from=gnav-unknown--unknown">Visit
                    Indeed</a>
            <li>

        </ul>


    </section>
    <hr>
    <section class="secondsection" style="margin-bottom:600px;">
        <span style=" padding-top: 0px;">Coures details</span>
        <h1>Courses</h1>
        <div style="margin-top: 20px; margin-left: 20px;">
            <img src="static\image\png\c++.jpg" width="35" style="margin-right: 40px;"><b style="font-size:35px">C/C++
                Course(Online Coaching Center)</b>
            <div class="cou">October 2022 – January 2023 | Yamunanagar, India 3 months course</div>
        </div>
        <hr>
        <div style="margin-top: 20px; margin-left: 20px;">
            <img src="static\image\png\python.jpg" width="35" style="margin-right: 40px;"><b style="font-size:35px">Python
                Course(Online)</b>
            <div class="cou">December 2022 – June 2023 | 6 months course</div>
            <div class="cou"><a href="" targer="_blank" class="show">See Practice Code</a><br></div>
    
        </div>
        <hr>
        <div style="margin-top: 20px; margin-left: 20px;">
            <img src="static\image\png\sql.png" width="35" style="margin-right: 40px;"><b style="font-size:35px">SQL(Microsoft
                SQL Server)</b>
            <div class="cou">January 2023 – July 2023 | 6 months course</div>
            <div class="cou"><a href="" targer="_blank" class="show">See Practice Code</a></div>
    
        </div>
        <hr>
        <div style="margin-top: 20px; margin-left: 20px;">
            <img src="static\image\png\web.jpg" width="35" style="margin-right: 40px;"><b style="font-size:35px">Web
                Devlopment</b>
            <div class="cou">June 2023 – December 2024 |6 months course</div>
            <div class="cou"><a href="" targer="_blank" class="show">See Practice Code</a></div>
        </div>
        <hr>
        <div style="margin-top: 20px; margin-left: 20px;">
            <img src="static\image\png\django.png" width="35" style="margin-right: 40px;">
            <b style="font-size:35px">Django Framework</b>
            <div class="cou">July 2023 – January 2024 |6 months course</div>
            <div class="cou"><a href="" targer="_blank" class="show">See Practice Code</a></div>
        </div>
       </section>
       
</main>



{% endblock body %}