{% extends "base.html" %}
{% block body %}
 <!-- main box -->
 <main>
    <section class="firstsection">
        <div class="leftsection">
            <div style="margin-bottom: 1px; margin-left: 20px;">Hi, My name is <span class="color"><i>AbhisheK</i>
                </span></div>

            <div style="margin-bottom: 1px; margin-left: 20px;">and I am a Fresher in</div>


            <span id="element"></span>
            <div class="buttons">
                <a href="static\resume 2024.pdf" target="_blank"><button class="btn">Download Resume</button></a>
                <a href="https://github.com/Abhishek-tyagi23" target="_blank"><button class="btn">Visit
                        Github</button></a>
            </div>
        </div>
        <div style="padding-left:40px; margin-top:70px">
            <img src="static\image\main.svg" alt="" height="80%" width="80%">
        </div>
    </section>
    <hr>
    <section class="secondsection">
        <span style=" padding-top: 0px;">What I have done so far</span>
        <h1>Learn Skills</h1>

        <div class="box">
            <div class="vertical">
                <img src="static/image/skill/python.png" alt="" class="image-top">
                <div class="vertical-title">
                    Python Devloper
                </div>
                <div class="vertical-desc">
                    Python is a high-level, general-purpose programming language. Then I bassically learn python
                    Basic OPPS Concept,execption handling.
                </div>
            </div>
            <div class="vertical">
                <img src="static/image/skill/html.png" alt="" class="image-top">
                <div class="vertical-title">
                    Web Devloper
                </div>
                <div class="vertical-desc">
                    Web developers create functional, user-friendly websites and web applications.I learn HTML,CSS
                    and Js.
                </div>
            </div>
            <div class="vertical">
                <img src="static/image/skill/bootstrap.jpg" alt="" class="image-top">
                <div class="vertical-title">
                    Learn Bootstrap
                </div>
                <div class="vertical-desc">
                    Bootstrap is a free and open-source CSS framework. I build a iCoder website in Bootstrap.
                </div>
            </div>
            <div class="vertical">
                <img src="static/image/skill/sql.png" alt="" class="image-top">
                <div class="vertical-title">
                    SQL(Microsoft SQL Server)
                </div>
                <div class="vertical-desc">
                    SQL is a Structure Query Language.I practice in Microsoft SQL Server Platform.
                </div>
            </div>
            <div class="vertical">
                <img src="static/image/skill/django.png" alt="" class="image-top" width="70px" height="60px">
                <div class="vertical-title">
                    Django
                </div>
                <div class="vertical-desc">
                    Django is a free and open-source, Python-based web framework.I design a E-commer website in
                    Django Framework.
                </div>
            </div>

        </div>
    </section>
    <hr>
    <section class="secondsection">
        <span style=" padding-top: 0px;">Attend Workshops Certificates</span>
        <h1>Workshop Certificates</h1>
        <div class="hob">
            <div class="img"><a href="static/image/certificate/abhishek.jpg" target="_blank"><img src="static\image\certificate\abhishek.jpg" width="400" height="250px"></a></div>
            <div class="img"><a href="static/image/certificate/PPT .JPG" target="_blank"><img src="static\image\certificate\PPT .JPG" width="400" height="250px"></a></div>
            <div class="img"><a href="static/image/certificate/VMWARE .jpg" target="_blank"><img src="static\image\certificate\VMWARE .jpg" width="400" height="250px"></a></div>
           

        </div>
        <ul class="text">
            <li class="li1">Full Stack Devlopment</li>
            <li class="li2">PPT Competition</li>
            <li class="li3">VMWARE - Virtualization </li>
           
        </ul>


    </section>
    <hr>
    <section class="secondsection">
        <span style=" padding-top: 0px;">The Other Side of Me</span>
        <h1>Hobbies & Passions</h1>
        <div class="hob">
            <div class="img"><img src="static\image\hob\hob1.jpg" alt="" width="200" height="200px"></div>
            <div class="img"><img src="static\image\hob\hob2.jpg"  alt="" width="200" height="200px"></div>
            <div class="img"><img src="static\image\hob\hob3.jpg"  alt="" width="200" height="200px"></div>
            <div class="img"><img src="static\image\hob\hob4.jpg"  alt="" width="200" height="200px"></div>
            <div class="img"><img src="static\image\hob\hob5.jpg" alt="" width="200" height="200px"></div>

        </div>
        <ul class="text">
            <li class="li">Personal Projects</li>
            <li class="li">Problem Solving</li>
            <li class="li">Playing Badminton</li>
            <li class="li">Web Design</li>
            <li class="li">Coding</li>
        </ul>


    </section>
</main>


{% endblock body %}